<ion-content>
  <div class="modal-content">
    <div class="ion-text-center f-bold">
      <ion-label>DO NOT LEAVE THE WAREHOUSE WITHOUT THESE ITEMS:</ion-label>
    </div>
    <div>
      <ul> 
        <li>Dollies (one per Crew Member)</li>
        <li>20-30 Empty Mega Boxes</li>
        <li>Truck Supply Box</li>
        <li>Driver Bin (with car charger)</li>
      </ul>
    </div>
    <div class="ion-text-center">
      <ion-button color="primary" (click)="submit()" shape="round">I have these items!</ion-button>
    </div>
  </div>
</ion-content>