<ion-header>
  <ion-toolbar>
    <ion-title size="small">Dispatch</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToDrivers();">Truck</ion-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="dispatch">
    <ion-item (click)="goToOrder(order);" *ngFor="let order of orders"  tappable>
      <ion-label>
        <h2>{{order.Name}}</h2>
        <p>Test order</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!driver">
    <ion-item>
      <ion-label>
        <h2>Select a truck before working on a dispatch.</h2>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="!dispatch && driver">
    <ion-item>
      <ion-label>
        <h2>There is no dispatch today.</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
`
