<app-header [title]="'Unload'"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="12">
        <div class="item-body" ng-if="dispatch._id && completedOrders.length == 0">
          <h1 class="ion-text-center"><ion-icon name="thumbs-up"></ion-icon></h1>
          <p class="ion-text-center">You have unloaded all your orders for the day!</p>
        </div>
        <ion-list lines="none" *ngIf="unloads.length" >
          <ion-item 
            *ngFor="let dispatch of unloads" 
            button 
            (click)="detail(dispatch)">
            <h2>{{ dataService.displayDate(dispatch) }} ({{dispatch.warehouseStatus}} - {{dispatch.delivery_count}} orders)</h2>
          </ion-item>
        </ion-list>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
